.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.button {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
}

.button.w--current {
  clear: none;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
}

.heading {
  text-align: left;
  padding-left: 15px;
}

.heading:hover {
  text-decoration: none;
}

.heading.base-rate-times-header {
  color: #fff;
  text-align: left;
  font-family: Genos, sans-serif;
  font-weight: 400;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.heading-2, .heading-3, .heading-4 {
  text-align: center;
}

.grid {
  z-index: 1;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 15px;
  position: relative;
}

.news {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section:hover {
  font-style: normal;
  text-decoration: none;
}

.grid-2 {
  grid-template-columns: 1fr;
}

.section-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 10px;
}

.text-block {
  border-top: 2px #000;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block {
  outline-offset: 0px;
  outline: 1px #333;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.div-block:hover {
  outline-offset: 0px;
  border: 0 #000;
  outline: 3px #333;
}

.image {
  order: 0;
  align-self: auto;
  display: block;
}

.div-block-2 {
  z-index: 1;
  text-align: left;
  justify-content: flex-start;
  margin-top: 30px;
  position: relative;
}

.block-quote {
  font-size: 12px;
  font-style: italic;
}

.horizontal-divider {
  width: auto;
  height: 1px;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-top-style: dotted;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  position: static;
}

.div-block-3 {
  background-color: #fff;
  border-left: 1px #3898ec;
}

.div-block-3:hover {
  background-color: rgba(0, 0, 0, 0);
}

.div-block-4 {
  background-color: #fff;
  border-left: 1px #3898ec;
}

.div-block-5 {
  background-color: #fff;
  border-top: 1px solid #000;
  flex-direction: column;
  display: flex;
}

.link, .link-2, .link-3, .link-4 {
  margin-bottom: 10px;
}

.link-5, .link-6 {
  margin-bottom: 10px;
  display: block;
}

.link-7 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 10px;
  display: block;
}

.link-8 {
  margin-bottom: 10px;
  display: block;
}

.image-2 {
  margin-bottom: 10px;
}

.main-menu {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
  padding-left: 15px;
  font-weight: 400;
}

.main-menu:hover {
  color: gray;
  text-align: left;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
}

.main-menu.menu-dropdown {
  margin-right: 0;
}

.section-3 {
  border-top: 1px solid #000;
}

.div-block-6 {
  z-index: 1;
  text-align: right;
  padding-right: 220px;
  position: relative;
}

.heading-5 {
  border-bottom-style: none;
  border-bottom-width: 0;
}

.div-block-7 {
  z-index: 1;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  position: relative;
}

.html-embed {
  outline-offset: 0px;
  outline: 1px #000;
  flex: 1;
  align-self: stretch;
}

.html-embed-2 {
  object-fit: fill;
  transform-style: preserve-3d;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  display: block;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, -1px);
}

.html-embed-2.menu-ribbon {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -1px);
}

.div-block-8 {
  justify-content: center;
  align-items: center;
  display: block;
  overflow: hidden;
}

.div-block-9 {
  background-color: #fff;
  border-top: 1px solid #000;
}

.div-block-10 {
  outline-offset: 0px;
  background-color: #fff;
  border-top: 1px solid #000;
  outline: 3px #333;
}

.section-4 {
  background-color: #000db5;
  border-bottom: 1px solid #a9cafb;
}

.link-9 {
  color: #a9cafb;
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
  flex: 0 auto;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 220px;
  text-decoration: underline;
  display: inline-block;
}

.div-block-12 {
  z-index: 1;
  opacity: .3;
  border: 1px #a9cafb;
  border-bottom-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.div-block-13 {
  z-index: 1;
  text-align: right;
  position: relative;
}

.div-block-14 {
  position: relative;
  top: 140px;
}

.menu-ribbon-code-1 {
  z-index: auto;
}

.grid-3 {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
}

.div-block-15 {
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.holder {
  opacity: 1;
}

.div-block-17 {
  background-color: #fff;
}

.menu-ribbon-div {
  opacity: 0;
}

.link-10 {
  color: #a9cafb;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  display: block;
}

.div-block-18 {
  z-index: 1;
  opacity: 0;
  text-align: right;
  -webkit-text-fill-color: inherit;
  background-color: #000db5;
  background-clip: border-box;
  position: relative;
}

.div-block-19 {
  z-index: 1;
  opacity: 0;
  margin-left: 220px;
  margin-right: 220px;
  position: relative;
}

.menu-ribbon-div-alt-d2 {
  opacity: 0;
}

.menu-ribbon-code-1-d2 {
  z-index: auto;
}

.section-2-d2 {
  height: 100vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
}

.section-2-d1 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 140px;
}

.section-2-d3 {
  width: 20vw;
  height: 100vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000db5;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 100px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.menu-ribbon-div-d3 {
  opacity: 0;
}

.menu-ribbon-code-1-d3 {
  z-index: auto;
}

.grid-d3 {
  z-index: 1;
  width: 50vw;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 100px;
  margin-right: 220px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.div-block-7-d3 {
  z-index: 1;
  position: relative;
}

.div-block-2-d3 {
  z-index: 1;
  text-align: left;
  flex: 0 auto;
  order: 1;
  justify-content: flex-start;
  display: block;
  position: relative;
}

.div-block-19-d3 {
  z-index: 1;
  position: relative;
}

.section-2-d3b {
  width: 20vw;
  height: 100vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 100px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.grid-d3b {
  z-index: 1;
  width: 60vw;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 100px;
  margin-right: 220px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.section-2-d4 {
  width: 20vw;
  height: 20vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000db5;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 100%;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 5.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 100px;
  margin-left: 100px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.menu-bar {
  z-index: 2147483647;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #000;
  flex-flow: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.grid-4 {
  grid-template: ". ."
                 ". Area"
                 / 1fr 1fr 1fr;
}

.brt_continentbox {
  flex-direction: column;
  display: flex;
}

.body-3 {
  margin-left: 40px;
  margin-right: 40px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.div-block-20 {
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  display: flex;
}

.link-11 {
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
}

.link-12 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-21 {
  display: flex;
}

.link-13, .link-14, .link-15, .link-16, .link-17 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.sources {
  font-weight: 400;
  position: static;
}

.link-18 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-22 {
  flex-direction: row;
  display: flex;
}

.link-19 {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.link-20, .link-21, .link-22, .link-23 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-23 {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.link-24, .link-25 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-24, .div-block-25 {
  display: flex;
}

.div-block-26 {
  flex-direction: column;
  display: flex;
}

.link-26, .link-27 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-27 {
  display: flex;
}

.link-28, .link-29, .link-30, .link-31, .link-32 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-28 {
  display: flex;
}

.text-block-2 {
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
  font-weight: 400;
}

.div-block-29 {
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  display: flex;
}

.link-33, .link-40, .link-35, .link-36 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-30 {
  display: flex;
}

.menu {
  z-index: 2147483647;
  background-color: #fff;
  flex-flow: column wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.major-divider-line {
  border-bottom: 1px solid #000;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.link-37 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.block-quote-2 {
  font-size: 12px;
}

.div-block-32 {
  display: flex;
}

.div-block-33 {
  flex-direction: column;
  display: flex;
}

.link-38 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.image-3 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.div-block-34 {
  display: flex;
}

.text-block-3 {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.context-bubble {
  margin-right: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
}

.block-quote-4 {
  font-size: 12px;
}

.div-block-35, .div-block-36 {
  display: flex;
}

.block-quote-5 {
  font-size: 12px;
}

.div-block-37 {
  display: flex;
}

.block-quote-6 {
  font-size: 12px;
}

.div-block-38 {
  display: flex;
}

.text-block-4 {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-39 {
  display: flex;
}

.div-block-40 {
  flex-direction: column;
  display: flex;
}

.link-41, .link-42 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-41 {
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  display: flex;
}

.div-block-42, .div-block-43 {
  display: flex;
}

.block-quote-7 {
  font-size: 12px;
}

.minor-divider-line {
  border-bottom: 1px solid #d3d3d3;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  display: flex;
}

.div-block-44 {
  flex-direction: row;
  display: flex;
}

.div-block-45, .div-block-46, .div-block-47 {
  display: flex;
}

.div-block-48 {
  flex-direction: column;
  display: flex;
}

.button-3 {
  color: #333;
  background-color: #fff;
  padding: 7px 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.div-block-49 {
  border-top: 1px solid #000;
  margin-top: 2px;
}

.heading-6 {
  margin-top: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.heading-7 {
  color: #000;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: Chomsky, sans-serif;
  font-size: 60px;
  font-weight: 400;
}

.minor-divider-dotted {
  border-bottom: 1px dashed #d3d3d3;
  margin-bottom: 10px;
  margin-right: 10px;
}

.image-4 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.topic-box {
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  display: flex;
}

.heading-8, .heading-9, .heading-10, .heading-11, .heading-12, .heading-13, .heading-14 {
  margin-right: 10px;
}

.heading-15 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

.div-block-52 {
  display: flex;
}

.minor {
  border-bottom: 1px dotted #d3d3d3;
  margin-bottom: 10px;
  margin-right: 10px;
}

.div-block-53, .div-block-54 {
  display: flex;
}

.html-embed-4, .html-embed-5, .html-embed-6 {
  margin-right: 20px;
}

.html-embed-7, .html-embed-8 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.html-embed-9 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.headline-link {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  display: flex;
}

.heading-h1 {
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.heading-h4, .heading-h5 {
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.bold-text, .bold-text-2, .bold-text-3 {
  font-family: Georgia, Times, Times New Roman, serif;
}

.commentary {
  color: #000;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.heading-16 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

.heading-h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.footer {
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 20px;
  display: flex;
}

.button-4 {
  color: gray;
  background-color: #000;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
}

.heading-17 {
  color: #fff;
  text-align: center;
}

.div-block-56 {
  border-bottom: 1px solid gray;
  flex-direction: column;
  display: flex;
}

.div-block-57 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.html-embed-10, .html-embed-11 {
  margin-right: 20px;
}

.headline-link-red {
  color: red;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.html-embed-12, .image-5 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.dropdown-toggle {
  padding: 7px 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-toggle-2 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-link {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.rusukr_menu {
  margin-left: 0;
  margin-right: 0;
}

.dropdown-link-2, .dropdown-link-3, .dropdown-link-4 {
  background-color: #fff;
  border-bottom: 1px #d3d3d3;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-link-5 {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-toggle-3 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.more_menu {
  margin-left: 0;
  margin-right: 0;
  position: static;
}

.dropdown-link-6 {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.china_menu {
  margin-left: 0;
  margin-right: 0;
}

.div-block-58 {
  border-left: 1px solid #d3d3d3;
  margin: 7px 5px;
}

.heading-h1-in-body {
  margin-top: 30px;
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.text-block-6 {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
  font-style: italic;
}

.home-logo {
  color: #333;
  background-color: #fff;
  padding: 7px 10px;
  font-family: Chomsky, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.home-logo:hover {
  font-size: 30px;
}

.home-logo.w--current {
  color: #333;
  font-size: 25px;
}

.button-5 {
  font-family: Varela Round, sans-serif;
}

.button-5.w--current {
  color: #000;
  background-color: #fff;
  padding: 7px 10px;
  font-family: Chomsky, sans-serif;
  font-size: 25px;
}

.text-block-7 {
  font-family: Georgia, Times, Times New Roman, serif;
}

.text-block-8 {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
}

.dropdown-2 {
  margin-top: -45px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
}

.forecastlinks {
  color: #696969;
  margin-top: -35px;
  margin-bottom: 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
}

.dropdown-toggle-5 {
  padding: 0;
}

.text-block-9 {
  color: #696969;
  font-family: Georgia, Times, Times New Roman, serif;
}

.dropdown-link-7 {
  color: #333;
  padding: 0 5px;
}

.div-block-59, .div-block-60 {
  flex-direction: column;
  display: flex;
}

.text-block-10 {
  margin-top: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
}

.image-6, .image-7 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.html-embed-13 {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.div-block-61 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bold-text-4, .bold-text-5, .bold-text-6 {
  font-weight: 400;
}

.twitter {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.div-block-62 {
  text-align: right;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: -50px;
  display: flex;
}

.twitter-2 {
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 4px;
  left: 234px;
}

.div-block-63 {
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  display: flex;
}

.button-6 {
  color: gray;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
  font-weight: 700;
}

.button-6:hover {
  color: #1da1f2;
}

.div-block-64, .div-block-65 {
  flex-direction: column;
  display: flex;
}

.text-block-11 {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
}

.text-block-12 {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-list {
  background-color: #fff;
  display: block;
  position: static;
}

.accordion-item {
  width: 100%;
  overflow: hidden;
}

.accordion-toggle {
  height: 40px;
  align-items: center;
  padding: 0;
  display: flex;
}

.text-block-13 {
  width: 100%;
  text-align: right;
  white-space: normal;
  flex: none;
  padding-right: 35px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.text-block-13:hover {
  font-size: 12px;
}

.dropdown-list-2 {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  position: static;
}

.image-8 {
  filter: grayscale();
}

.image-8:hover {
  filter: none;
}

.div-block-66, .div-block-67 {
  flex-direction: column;
  display: flex;
}

.accordion-forecastlinks {
  width: 100%;
  overflow: hidden;
}

.accordion-toggle-copy {
  height: 40px;
  align-items: center;
  padding: 0;
  display: flex;
}

.dropdown-list-2-copy {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  position: static;
}

.accordion-item-copy {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.div-block-68 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -25px;
}

.text-block-13-copy {
  width: 100%;
  color: #696969;
  text-align: right;
  white-space: normal;
  flex: none;
  padding-right: 35px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.text-block-13-copy:hover {
  font-size: 12px;
}

.accordion-item-new {
  width: 100%;
  margin-top: -24px;
  margin-bottom: 4px;
  font-family: Georgia, Times, Times New Roman, serif;
  overflow: hidden;
}

.accordion-toggle-new {
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.accordion-icon-new {
  margin-left: 0;
  position: relative;
}

.dropdown-list-new {
  text-align: left;
  background-color: #fff;
  display: block;
  position: static;
}

.text-block-14 {
  color: #333;
  text-align: center;
  flex: none;
  margin-right: 1px;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.text-block-14:hover {
  font-size: 12px;
}

.link-43 {
  color: #000;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 11px;
  text-decoration: none;
  display: flex;
}

.bold-text-7 {
  color: #1d6996;
  margin-right: 2px;
}

.bold-text-8 {
  color: #5f4791;
  margin-right: 2px;
}

.bold-text-9 {
  color: #edac09;
  margin-right: 2px;
}

.bold-text-10 {
  color: #72af49;
  margin-right: 2px;
}

.bold-text-11 {
  color: #0e8454;
  margin-right: 2px;
}

.bold-text-12 {
  color: #94346e;
  margin-right: 2px;
}

.bold-text-13 {
  color: #38a6a5;
  margin-right: 2px;
}

.bold-text-14 {
  color: #e17d04;
  margin-right: 2px;
}

.bold-text-11-copy {
  color: orange;
  margin-right: 2px;
}

.bold-text-10-copy {
  color: red;
  margin-right: 2px;
}

.deepskyblue {
  color: #00bfff;
  margin-right: 2px;
}

.midnightblue {
  color: #191970;
  margin-right: 2px;
}

.blue {
  color: #00f;
  margin-right: 2px;
}

.red {
  color: red;
  margin-right: 2px;
}

.darkred {
  color: #8b0000;
  margin-right: 2px;
}

.deepskyblue2 {
  color: #00bfff;
  margin-right: 2px;
}

.blue2 {
  color: #00f;
  margin-right: 2px;
}

.midnightblue2 {
  color: #191970;
  margin-right: 2px;
}

.red2 {
  color: red;
  margin-right: 2px;
}

.darkred2 {
  color: #8b0000;
  margin-right: 2px;
}

.bold-text-11-copy-copy {
  color: orange;
  margin-right: 2px;
}

.blue3 {
  color: #00f;
  margin-right: 2px;
}

.bold-text-8-copy {
  color: #5f4791;
  margin-right: 2px;
}

.bold-text-10-copy {
  color: #72af49;
  margin-right: 2px;
}

.bold-text-9-copy {
  color: #edac09;
  margin-right: 2px;
}

.bold-text-11-copy {
  color: #0e8454;
  margin-right: 2px;
}

.bold-text-11-copy-copy {
  color: orange;
  margin-right: 2px;
}

.bold-text-15 {
  color: #d2691e;
}

.bold-text-16 {
  color: gold;
}

.bold-text-17 {
  color: red;
}

.bold-text-18 {
  color: #8b0000;
}

.bold-text-19, .bold-text-20 {
  color: #00f;
}

.bold-text-21 {
  color: #191970;
}

.bold-text-22 {
  color: #00f;
}

.bold-text-23 {
  color: #8b0000;
}

.bold-text-24 {
  color: red;
}

.bold-text-25 {
  color: orange;
}

.bold-text-26 {
  color: #191970;
}

.bold-text-27 {
  color: #00f;
}

.bold-text-28 {
  color: red;
}

.bold-text-29 {
  color: gold;
}

.bold-text-30 {
  color: orange;
}

.more-menu {
  margin-left: 0;
  margin-right: 0;
}

.div-block-69 {
  flex-direction: column;
  display: flex;
}

.bold-text-31 {
  color: red;
}

.div-block-70 {
  flex-direction: column;
  display: flex;
}

.latest {
  color: #000;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  text-decoration: none;
}

.link-44 {
  color: #000;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  text-decoration: none;
  display: block;
}

.text-block-15 {
  color: #000;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
  text-decoration: none;
}

.text-block-15:hover {
  font-size: 12px;
}

.text-block-16 {
  color: #000;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 400;
  text-decoration: none;
}

.link-block, .link-block-2 {
  text-decoration: none;
}

.link-block-2.w--current {
  text-align: center;
  text-decoration: none;
  display: block;
}

.image-8-copy {
  filter: grayscale();
}

.image-8-copy:hover {
  filter: none;
}

.button-6-copy {
  color: gray;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  margin-left: -5px;
  padding: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
  font-weight: 700;
}

.button-6-copy:hover {
  color: orange;
  font-size: 11px;
}

.image-8-copy {
  filter: grayscale();
}

.image-8-copy:hover {
  filter: none;
}

.button-6-copy {
  color: gray;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
  font-weight: 700;
}

.button-6-copy:hover {
  color: #f26513;
  font-size: 10px;
}

.bold-text-32 {
  font-weight: 400;
}

.headline-link-red-latest {
  color: red;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 700;
}

.text-block-17 {
  color: #000;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.text-block-16-copy {
  color: #000;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 700;
  text-decoration: none;
}

.bold-text-33 {
  font-weight: 400;
}

.image-9 {
  margin-bottom: 10px;
  margin-right: 20px;
}

.bold-text-42 {
  color: #000;
  margin-right: 20px;
  display: block;
}

.bold-text-43 {
  font-weight: 400;
}

.text-block-18 {
  font-style: italic;
}

.headline-accordion {
  overflow: hidden;
}

.headline-accordion-toggle {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: block;
}

.text-block-19 {
  width: 100%;
  color: #000;
  white-space: normal;
  flex: none;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  text-decoration: underline;
}

.headline-dropdown {
  background-color: #fff;
  display: block;
  position: static;
}

.text-block-20 {
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
}

.accordion-headline {
  width: 100%;
  overflow: hidden;
}

.accordion-toggle-headline {
  height: 42px;
  align-items: center;
  padding: 0;
  display: flex;
}

.text-block-21 {
  width: 100%;
  color: #000;
  white-space: normal;
  flex: none;
  padding-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.dropdown-list-3 {
  background-color: #fff;
  padding: 0;
  display: block;
  position: static;
}

.text-block-22 {
  color: #333;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 12px;
  font-weight: 400;
}

.link-45 {
  color: #000;
  text-align: right;
  margin: -5px 20px 10px 140px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
  text-decoration: none;
  display: block;
}

.italic-text {
  text-decoration: underline;
}

.div-block-71 {
  flex-direction: column;
  display: flex;
}

.dropdown-link-5-copy {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.dropdown-link-5-copy2 {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px 15px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 11px;
}

.link-43-copy {
  color: #000;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 11px;
  text-decoration: none;
  display: flex;
}

.supportbutton {
  color: gray;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 10px;
  font-weight: 700;
}

.supportbutton:hover {
  color: #ff424d;
  font-size: 10px;
}

.patreon {
  filter: grayscale();
}

.patreon:hover {
  filter: none;
}

.heading-h5-copy {
  color: red;
  margin-right: 10px;
  font-family: "Cheltenham 500", sans-serif;
}

.html-embed-15, .html-embed-16 {
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .twitter-2 {
    left: 234px;
  }

  .link-45 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .grid-4 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .body-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .twitter-2 {
    top: 44px;
    left: 234px;
  }

  .div-block-63 {
    top: 92px;
  }

  .button-6, .button-6-copy, .button-6-copy {
    font-weight: 400;
  }

  .link-45 {
    margin-left: 100px;
  }

  .supportbutton {
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-three, .nav-menu-two, .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .grid-4 {
    flex-direction: column;
    display: flex;
  }

  .div-block-45, .div-block-46, .div-block-47 {
    display: flex;
  }

  .topic-box {
    border-right-style: none;
  }

  .text-block-6 {
    z-index: -1;
  }

  .twitter-2 {
    top: 155px;
    left: 165px;
  }

  .div-block-63 {
    top: 40px;
  }

  .button-6 {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 8px;
  }

  .button-6-copy, .supportbutton {
    margin-left: 0;
    padding: 0;
    font-size: 8px;
  }
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-10f19b46 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-10f19b46, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-10f19b46, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-10f19b46, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-10f19b46, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-10f19b46, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-10f19b46, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-10f19b46, #w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-7d1ac0cb, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-7d1ac0cb, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-7d1ac0cb, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-7d1ac0cb, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-7d1ac0cb, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-7d1ac0cb, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-7d1ac0cb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-64c5818d {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-faca1ae9-f3ac-413b-c19a-1f75217d72fc-64c5818d {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-64c5818d, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-64c5818d, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-64c5818d, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-64c5818d, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-64c5818d, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-64c5818d, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-64c5818d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-a064b1d6 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-faca1ae9-f3ac-413b-c19a-1f75217d72fc-a064b1d6 {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-a064b1d6, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-a064b1d6, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-a064b1d6, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-a064b1d6, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-a064b1d6, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-a064b1d6, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-a064b1d6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-45e3d8af {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-faca1ae9-f3ac-413b-c19a-1f75217d72fc-45e3d8af {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-45e3d8af, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-45e3d8af, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-45e3d8af, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-45e3d8af, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-45e3d8af, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-45e3d8af, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-45e3d8af {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-ece3e97c {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-faca1ae9-f3ac-413b-c19a-1f75217d72fc-ece3e97c {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-ece3e97c, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-ece3e97c, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-ece3e97c, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-ece3e97c, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-ece3e97c, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-ece3e97c, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-ece3e97c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_51fa261b-f999-a711-cd40-911621741f5a-8ba738db {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-faca1ae9-f3ac-413b-c19a-1f75217d72fc-8ba738db {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-_425bbfc2-d43d-cc3f-8b46-002ab1b290c2-8ba738db, #w-node-_1b393250-77be-6b12-251d-f655c76e2339-8ba738db, #w-node-f5603a2f-f9b1-9188-757d-7160a4c97101-8ba738db, #w-node-e4e5e715-52f7-be96-5db5-533355b92d05-8ba738db, #w-node-_402feffd-7228-3562-8891-0bb5eb7b7f4a-8ba738db, #w-node-_75e21329-0738-6c8b-1b4f-f0d77475a472-8ba738db, #w-node-_3db0fad1-5ac7-2333-422c-e528f891d397-8ba738db, #w-node-_8bb030d7-efea-7010-d926-cbd7239c9385-358fa9a8, #w-node-_4c17eda1-94a8-118c-428a-c55eda15f6ce-358fa9a8, #w-node-_1a022ce7-2881-37e8-6e48-f11ce0143856-358fa9a8, #w-node-c51086e5-4bc0-22bf-f488-1ae5d398ceb5-358fa9a8, #w-node-_9a641145-4ab1-8278-4771-fd6ede65568b-358fa9a8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cac54a4d-9ead-00c5-a27a-877efa9fe901-358fa9a8, #w-node-_7aba7412-86bc-27ba-40cd-03988f4c3e38-358fa9a8 {
  grid-area: Area;
}

#w-node-_8bb030d7-efea-7010-d926-cbd7239c9385-7c11ee18, #w-node-_4c17eda1-94a8-118c-428a-c55eda15f6ce-7c11ee18, #w-node-_1a022ce7-2881-37e8-6e48-f11ce0143856-7c11ee18, #w-node-fe08a760-d6ab-a1be-c5d6-0e4e1d7a8352-7c11ee18, #w-node-_8be640ae-7955-218f-5007-46e1e5e00dd6-7c11ee18, #w-node-d71be4c1-4698-9072-1a6b-63a6a9f44437-7c11ee18, #w-node-_64bdf4de-3f18-ffeb-01f2-e70f3e902cfb-7c11ee18, #w-node-_7070de01-879f-d303-10a6-70c4b4ed54be-7c11ee18, #w-node-dfc807fd-5ae3-92f1-5a2d-7736a06a4f3b-7c11ee18, #w-node-_4078797e-2de8-511f-eae5-4363f18cc422-7c11ee18, #w-node-_40f18f86-9538-a4a3-360b-1c0349835ae1-7c11ee18, #w-node-f10036b9-36a5-b3a3-c796-3c5496bbfa22-7c11ee18, #w-node-_34f361ed-cf4c-1773-cb9b-62aa70a3aee5-7c11ee18, #w-node-bb57aea6-5a55-9914-f70e-39a51759d72b-7c11ee18, #w-node-_80682985-cd05-4ec8-2171-dfe50834c3ae-7c11ee18, #w-node-_24129031-88d3-5354-ede2-2c26faf37c8b-7c11ee18, #w-node-_64a03646-33fa-8629-d0c2-1dbc4d27b830-7c11ee18, #w-node-_40375775-0d03-ef9a-527f-dd213e3800b1-7c11ee18, #w-node-_486591b3-1cf8-4fd5-ff2c-b6afd071bca3-7c11ee18, #w-node-_72efac3b-b966-d4cc-e246-20f1a94678d6-7c11ee18, #w-node-cb705e38-826e-5d22-53fb-59a80c43bacc-7c11ee18, #w-node-_8b323933-c0ca-5e38-3581-94f834082d4c-7c11ee18, #w-node-_39318696-b8d1-95f4-3a0a-9eb37d83391a-7c11ee18, #w-node-a8ad0684-45b3-5905-a436-e6591e2ef2f0-7c11ee18, #w-node-_8bb030d7-efea-7010-d926-cbd7239c9385-195c9fb9, #w-node-_4c17eda1-94a8-118c-428a-c55eda15f6ce-195c9fb9, #w-node-_1a022ce7-2881-37e8-6e48-f11ce0143856-195c9fb9, #w-node-_8bb030d7-efea-7010-d926-cbd7239c9385-d9e7ca8e, #w-node-_4c17eda1-94a8-118c-428a-c55eda15f6ce-d9e7ca8e, #w-node-_1a022ce7-2881-37e8-6e48-f11ce0143856-d9e7ca8e, #w-node-_8bb030d7-efea-7010-d926-cbd7239c9385-b43b7456, #w-node-_4c17eda1-94a8-118c-428a-c55eda15f6ce-b43b7456, #w-node-_1a022ce7-2881-37e8-6e48-f11ce0143856-b43b7456, #w-node-c51086e5-4bc0-22bf-f488-1ae5d398ceb5-b43b7456 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cac54a4d-9ead-00c5-a27a-877efa9fe901-b43b7456, #w-node-_7aba7412-86bc-27ba-40cd-03988f4c3e38-b43b7456 {
  grid-area: Area;
}

#w-node-_48cd6c30-4f68-ed91-bcb7-0e6f8b2320b0-b43b7456 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Cheltenham cond 500';
  src: url('../fonts/cheltenham-cond-normal-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 800';
  src: url('../fonts/cheltenham-normal-800.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham cond 300';
  src: url('../fonts/cheltenham-cond-normal-300.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham scaps 300';
  src: url('../fonts/cheltenham-scaps-normal-300.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham cond 700';
  src: url('../fonts/cheltenham-cond-normal-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 300';
  src: url('../fonts/cheltenham-italic-300.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham small 700';
  src: url('../fonts/cheltenham-small-normal-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham small 700';
  src: url('../fonts/cheltenham-small-italic-700.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham small 400';
  src: url('../fonts/cheltenham-small-normal-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 200';
  src: url('../fonts/cheltenham-italic-200.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 500';
  src: url('../fonts/cheltenham-italic-500.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 400';
  src: url('../fonts/cheltenham-italic-400.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham wide 400';
  src: url('../fonts/cheltenham-wide-italic-400.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 700';
  src: url('../fonts/cheltenham-italic-700.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 800';
  src: url('../fonts/cheltenham-italic-800.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham small 400';
  src: url('../fonts/cheltenham-small-italic-400.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham wide 400';
  src: url('../fonts/cheltenham-wide-normal-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 200';
  src: url('../fonts/cheltenham-normal-200.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 300';
  src: url('../fonts/cheltenham-normal-300.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 400';
  src: url('../fonts/cheltenham-normal-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 500';
  src: url('../fonts/cheltenham-normal-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham 700';
  src: url('../fonts/cheltenham-normal-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenham xcond 700';
  src: url('../fonts/cheltenham-xcond-normal-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 600';
  src: url('../fonts/imperial-italic-600.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 500';
  src: url('../fonts/imperial-italic-500.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 500';
  src: url('../fonts/imperial-normal-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 600';
  src: url('../fonts/imperial-normal-600.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 700';
  src: url('../fonts/imperial-italic-700.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Imperial 700';
  src: url('../fonts/imperial-normal-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cibergotica';
  src: url('../fonts/CiberGotica.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chomsky';
  src: url('../fonts/Chomsky.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}